{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SSNM: {% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
  <link href="{{STATIC_URL}}css/ecomap.css" rel="stylesheet">
  {% block css %}{% endblock %}
  {% block javascript %}{% endblock %}
    <script src="{{STATIC_URL}}js/jquery-1.7.2.min.js"></script>
  
</head>

<body>
    <div id="site-header">
        <div id="logo-project"><a href="/"></a></div>
        <ul id="sitewide-pages">
        {% block usernav %}
            <li id="user-status">
            {% if request.user.is_anonymous %}
                <a href="/accounts/login/?next=/">Log in</a>
            {% else %}
                <a href="/logout/">Log out</a>
            {% endif %}
            </li>
        {% endblock %}
            <li class="flatpages"><a href="{% url "ssnm.main.views.about" %}">ABOUT</a></li>
            <li class="flatpages"><a href="{% url "ssnm.main.views.help_page" %}">HELP</a></li>
            <li class="flatpages"><a href="{% url "ssnm.main.views.contact" %}">CONTACT</a></li>
        </ul>
        <div id="ccnmtl">
            <a href="http://ccnmtl.columbia.edu/" target="_blank" title="Go to the CCNMTL web site.">CCNMTL</a>
        </div>
    </div>

        <div id="breadcrumbbar">
        <span class="here">You are here:</span>
        {% block breadcrumb %}{% endblock %}
        </div>
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>