<!DOCTYPE html>
<html lang="en">
<head>
  <title>ssnm: {% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="/site_media/favicon.ico" type="image/x-icon" />
  <link href="/site_media/ecomap.css" rel="stylesheet">
  {% block css %}{% endblock %}
    <script src="/site_media/js/jquery-1.7.2.min.js"></script>
</head>

<body>
    <h1>
        <a href="/course/" title="">Social Support Network Map</a>
    </h1>

    <div id="ccnmtl">
        <a href="http://ccnmtl.columbia.edu/" target="_blank" title="Go to the CCNMTL web site.">CCNMTL</a>
    </div>

    <div id="toolbar">
        <div id="standard">
            <a href="/about/">About</a>
            <a href="/help/">Help</a>
            <a href="/contact/">Feedback</a>
            <a href="accounts/logout/">Logout</a>
        </div>
      
    </div>

    
    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>