{% extends "base.html" %}
{% block title %}Map Details{% endblock %}
{% block breadcrumb %}Map Details{% endblock %}
{% load i18n %}
{% block css %}{% endblock %}
{% block javascript %}
  {{block.super}}
  <script type="text/javascript" src="{{STATIC_URL}}js/details.js"></script>
{% endblock %}
{% block content %} 
  <div id="container">
    <h2>
      {% if form.name.value or form.description.value %}
		Edit
		{% else %}
		Create New
		{% endif %}
        Map
    </h2>

    <form action="" method="post">
      <div class="fieldWrapper">
	    <label for="id_name">Map Name:</label>
	    {{ form.name }}
	  </div>
	    <br><br>
      <div class="fieldWrapper">
	   <label for="id_description">Map Description:</label>
	   {{ form.description }}
	 </div>
     <p>
       <input class="bttn" type="submit" 
         value="{% if form.name.value or form.description.value %}Save changes{% else %}Create Map{% endif %}" />
     </p>
  </form>
</div>
{% endblock %}