{% extends "ecobase.html" %}
{% load i18n %}
{% block content %} 

map id = {{map.id}}

<b>Note: maps are automatically saved - if you do not want to save this map make sure you delete it from you home page.</b>
<div id="game_content">
{% block game_content %}
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
  codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
   width="685px" height="470px" align="middle" >
        <param name="allowScriptAccess" value="sameDomain" />
        <param name="movie" value="/site_media/ecomap.swf" />
        <param name="loop" value="false" />
        <param name="menu" value="false" />
        <param name="quality" value="high" />
        <param name="scale" value="noscale" />
        <param name="salign" value="lt" />
        <param name="bgcolor" value="#ffffff" />
        <param  name="server=http://kodos.ccnmtl.columbia.edu:13095/ecomap/{{map.id}}/display/&amp;returnPath=back_to_list_button_clicked" />
            <embed
            src="/site_media/ecomap.swf"
            loop="false" menu="false"
            quality="high" 
            scale="noscale" 
            salign="lt" 
            bgcolor="#ffffff"
            width="685px" 
            height="470px"
            align="middle" 
            allowscriptaccess="sameDomain"
            type="application/x-shockwave-flash" 
            pluginspage="http://www.macromedia.com/go/getflashplayer"
            flashVars="server=http://kodos.ccnmtl.columbia.edu:13095/ecomap/{{map.id}}/display/&amp;returnPath=back_to_list_button_clicked"
            
            />
    </object>
    {% endblock %}
</div>
<a href="/show_maps/">  Back to Maps  </a>  <a href="/details/{{map.id}}/">  Add Details About Map  </a>
{% endblock %}