{% extends "base.html" %}
{% block title %}My Maps &gt; {{map.name}}{% endblock %}
{% block breadcrumb %}My Maps &gt; {{map.name}}{% endblock %}
{% load i18n %}
{% block content %} 
        <div id="container">

	<h2>
		Map: {{map.name}}
	</h2>

<div id="game_content">
{% block game_content %}
<p class="button-right"><a class="bttn" href="/">  Back to My Maps  </a></p>
<div class="map-container">
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
  codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
   width="685px" height="470px" align="middle" >
        <param name="allowScriptAccess" value="sameDomain" />
        <param name="movie" value="/site_media/ecomap.swf" />
        <param name="loop" value="false" />
        <param name="menu" value="false" />
        <param name="quality" value="high" />
        <param name="scale" value="noscale" />
        <param name="salign" value="lt" />
        <param name="bgcolor" value="#ffffff" />
        <param  name="server=http://ssnm.ccnmtl.columbia.edu/ecomap/{{map.id}}/display/&amp;returnPath=back_to_list_button_clicked" />
            <embed
            src="/site_media/ecomap.swf"
            loop="false" menu="false"
            quality="high" 
            scale="noscale" 
            salign="lt" 
            bgcolor="#ffffff"
            width="685px" 
            height="470px"
            align="middle" 
            allowscriptaccess="sameDomain"
            type="application/x-shockwave-flash" 
            pluginspage="http://www.macromedia.com/go/getflashplayer"
            flashVars="server=http://ssnm.ccnmtl.columbia.edu/ecomap/{{map.id}}/display/&amp;returnPath=back_to_list_button_clicked"
            
            />
    </object>
    </div>
    <div class="map-details">
    
    <h3>Map Details</h3>
    
    <p>
    <b>Title: </b><br />
    {{map.name}}
    </p>
    
    <p><b>Description: </b><br />
    {{map.description}}
    </p>
    
    <p><a class="bttn" href="/details/{{map.id}}/">  Edit Map Details  </a></p>
    
    </div>
    {% endblock %}
    <div class="clearfix-div"></div>
</div>


</div>
{% endblock %}