{% extends "base.html" %}
{% load i18n %}
{% block stylesheet %}{% endblock %}
        <div id="breadcrumbbar">
        <span class="here">You are Here:</span>
        &gt;
        Login
        </div>
{% block bodyclass %}login{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="content-main">
<form method="get" action="https://wind.columbia.edu/login">
<input type="hidden" name="service" value="cnmtl_full_np" />
<input type="hidden" name="destination" value="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/accounts/windlogin/?next=/show_maps/" />
<p>If you have a Columbia Uni you can log in <input type="submit" value="here" />.</p>
</form>
    <p>If you have a PASS account...</p>
<form method="post" action="." name="login_local">

{% csrf_token %}

    <div class="fieldwrapper">
        <label for="id_username">Username:</label>
        {{ form.username }}
    </div><!-- fieldwrapper -->

    <div class="fieldwrapper">
        <label for="id_password">Password:</label>
        {{ form.password }}
    </div><!-- fieldwrapper -->
    

<input class="regbutton" type="submit" value="LOG IN" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

</div>

            <h2>Not a Columbia User? Login as a Guest.</h2>
            <form  action="accounts/login/" method="post">
                <fieldset>
                    <legend>Guest Account Information</legend>
                    <label for="username">User Name:</label>
                    <input id="guest_username" type="text" name="username" />
                    <br /><br />
                    <label for="pass">Password:</label>
                    <input id="guest_pass" type="password" name="password" />
                    <br /><br />
                    <label for="login"></label>
                    <input id="login" type="submit" value="Log In" />
                </fieldset>
            </form>
                        <br><br>
    <h2>Don't have and account? </h2> <a href="account/register/">Click here to create one. </a>
{% endblock %}
