{% extends "base.html" %}
{% load bootstrap %}
{% load static from staticfiles %}
{% block title %}My Maps{% endblock %}
{% block javascript %}
  {{block.super}}
  <script type="text/javascript" src="{{STATIC_URL}}js/map_page_js.js"></script>
{% endblock %}
{% block breadcrumb %}My Maps{% endblock %}
{% block content %}
  <h2>My Maps	</h2>
    {% if not maps %}
	  <p>You have no maps.</p>
	{% endif %}
      <div class="addbar">
        <form action="/details/" style="display: inline;" method="link">
          <input class="bttn" type="submit" value="Create New Map" />
        </form>
      </div>	
    {% if maps %}
	  <table cellspacing="0" class="infotable" summary="Network Map Table">
	    <colgroup span="3" id="coursetablecols">
	      <col class="name" />
	      <col class="description" />
	      <col class="functions" />
	    </colgroup>		
	    <thead>
	      <tr>
	        <th>	Map Name	</th>
	        <th>	Description		</th>
	        <th class="centered">	Functions	</th>
	      </tr>
	    </thead>
        <tbody>
          {% for map in maps %}
            <tr><td>{{ map.name }}</td><td>{{ map.description }}</td>
            <td class="centered"><a href="/ecomap/{{ map.pk }}" >View Map</a> | <a href="/details/{{ map.pk }}">Edit Map Details</a> | 
            <a href="/ecomap/{{ map.pk }}/delete_map" onclick="confirmation('/ecomap/{{ map.pk }}/delete_map');return false;">Delete</a></td></tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
{% endblock %}