{% extends "base.html" %}
{% block content %}

<div id="breadcrumbbar">
	<span class="here">You are Here:</span> 
	My Maps
</div>

<div id="container">
	<div class="addbar">
		<form action="/ecomap/" style="display: inline;" method="link">
			<input type="submit" value="Create New Ecomap" />
		</form>
	</div>
		
	<h2>	My Maps	</h2>

		<table cellspacing="0" class="infotable" summary="Network Map Table">
			<colgroup span="3" id="coursetablecols">
				<col class="name" />
				<col class="description" />
				<col class="functions" />
			</colgroup>
					
			<thead>
						<tr>
							<th>	Name	</th>	<th>	Description		</th>	<th class="centered">	Functions	</th>
						</tr>
			</thead>


			<tbody>
			{% for map in maps %}
				    <tr><td>{{ map.name }}</td><td>{{ map.description }}</td><td class="centered"><a href="/ecomap/{{ map.pk }}">View Map</a> | <a href="/details/{{ map.pk }}">Edit Map Details</a> | <a href="/ecomap/{{ map.pk }}/delete_map">Delete</a></td></tr>
			{% endfor %}


			</tbody>

			</table>			
</div>


{% endblock %}