{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}
        <div id="breadcrumbbar">
        <span class="here">You are Here:</span>
        &gt;
        Login
        </div>
        
        <div id="container">


<p>Social Support mapping grows out of a long social work tradition of starting where a person is and recognizing strengths. It helps a person tap into and use his or her own natural support network to deal with challenging life issues. At a time when mental health interventions are increasingly complicated, it remains a simple and accessible, yet powerful tool to support individuals and families.</p>

<p>The Social Support Network Map is a tool to help students and mental health professionals create digital social support maps. This tool helps you create an image that shows important people in the life of you or your client, tag those people as negative, neutral or positive supports, and assign them support attributes.  It will help guide a discussion of if, where and how to engage supports for help.</p>

<p>If you are associate with Columbia University please log in using your UNI. Guest users are also welcome to create an account using [this link].</p>


        <table cellspacing="0" class="infotable" summary="Network Map Table">
        <tr><td><h2>  Columbia Login  </h2>


<form method="get" action="{{ wind_base }}login" class="well">
<input type="hidden" name="service" value="{{ wind_service }}" />
<input type="hidden" name="destination" value="http://{{ request.get_host }}/accounts/windlogin/?next={{ next }}" />
<p>If you have a Columbia University Network ID
        (UNI)... </p><input type="submit" value="LOG IN" class="btn btn-primary"/></p>
</form><br>
                
  
            </td>
            <td>

        <div id="guest-login-form">
        {% if form.username.errors or form.password.errors or form.errors %}
        <div class="alert alert-error">
            {% if form.username.errors %}
                Please enter your username.
            {% else %}    
                {% if form.password.errors %}
                    Please enter your password.
                {% else %}                
                    {% if form.errors %}
                        Please enter a correct username and password.
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        {% endif %}

            <h2>Not a Columbia User? Login as a Guest.</h2>
            <form  action="." method="post">
                <fieldset>

                    <label for="id_username">Username: {{ form.username }}</label><br><br>
                    <label for="id_password">Password: {{ form.password }}</label>
                    <input type="submit" value="Log in" class="btn btn-large btn-primary" id="td_login" />
                    <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}" />
        
            </fieldset>
            </form>
            </td>
            </tr>               
            </table>    
                    
            <br><br>
    <h2>Don't have and account? </h2> <a href="{% url "registration_register" %}">Click here to create one. </a>
        </div>
        
    </div>
{% endblock %}











{% block js %}
<script type="text/javascript">
    jQuery(document).ready(function(jQuery){
        
        {% if form.username.errors or form.password.errors or form.errors %}
            jQuery(".login-set").fadeIn("fast", "linear");
        {% endif %}
        
        /* For Login page */
        jQuery("#invitation #login").click(function(){
            jQuery(".login-set").fadeIn("fast", "linear");
        });
        jQuery("#login-window #close-login").click(function(){
            jQuery(".login-set").fadeOut("fast", "linear");
        });
        jQuery('.carousel').carousel({
            interval: 7000
        })
    });
</script>
{% endblock %}