{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block breadcrumb %}Log In{% endblock %}
{% block usernav %}{% endblock %}
{% block content %}
        
        <div id="container">

	<h2>
		Log in
	</h2>

<p>Social Support mapping grows out of a long social work tradition of starting where a person is and recognizing strengths. It helps a person tap into and use his or her own natural support network to deal with challenging life issues. At a time when mental health interventions are increasingly complicated, it remains a simple and accessible, yet powerful tool to support individuals and families.</p>

<p>The Social Support Network Map is a tool to help students and mental health professionals create digital social support maps. This tool helps you create an image that shows important people in the life of you or your client, tag those people as negative, neutral or positive supports, and assign them support attributes.  It will help guide a discussion of if, where and how to engage supports for help.</p>

<p>If you are associate with Columbia University please log in using your UNI. Guest users are also welcome to <a href="{% url "registration_register" %}" title="Create your new project account">create an account</a>.</p>



<div class="loginbox">
	<div class="content">
	
	<div class="login-type">
        <form method="get" action="{{ wind_base }}login">
        <input type="hidden" name="service" value="{{ wind_service }}" />
        <input type="hidden" name="destination" value="http://{{ request.get_host }}/accounts/windlogin/?next={{ next }}" />
        <h2>For Columbia University users:</h2>
        <div class="uni-login"><input class="regbutton" type="submit" value="UNI LOG IN" /></div>
        </form>
    
        <p class="smalltxt"><a href="http://cuit.columbia.edu/cuit/manage-my-uni" title="Learn more about UNI" target="_blank">What is a UNI?</a></p>
        <!-- End UNI LOG IN -->
	
	</div>
	
	<div class="login-type">
        {% if form.username.errors or form.password.errors or form.errors %}
        <p class="errornote"><span><b>ERROR:</b> 
            {% if form.username.errors %}
                Your username is invalid.
            {% else %}    
                {% if form.password.errors %}
                     Your password is invalid.
                {% else %}                
                    {% if form.errors %}
                        Invalid username or password.
                    {% endif %}
                {% endif %}
            {% endif %}
        </span> Please try again. Note that both username and password are case-sensitive.</p>
        {% endif %}
        
        <h2>For other users:</h2>
        <form action="." method="post">
        
        {% csrf_token %}
        
        <div class="fieldwrapper">
        <label for="id_username">Username:</label>
        {{ form.username }}
        </div><!-- fieldwrapper -->
        
        <div class="fieldwrapper">
        <label for="id_password">Password:</label>
        {{ form.password }}
        </div><!-- fieldwrapper -->
        
        
        <div class="other-login"><input class="regbutton" type="submit" value="LOG IN" /></div>
        <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}" />
        </form>
        <p class="smalltxt"> <a href="{% url "registration_register" %}" title="Create your new project account">Need a new account?</a></p>
    </div>
    
    <div class="clearfix-div"></div>
	</div><!-- content -->
</div><!-- loginbox -->



{% endblock %}











{% block js %}
<script type="text/javascript">
    jQuery(document).ready(function(jQuery){
        
        {% if form.username.errors or form.password.errors or form.errors %}
            jQuery(".login-set").fadeIn("fast", "linear");
        {% endif %}
        
        /* For Login page */
        jQuery("#invitation #login").click(function(){
            jQuery(".login-set").fadeIn("fast", "linear");
        });
        jQuery("#login-window #close-login").click(function(){
            jQuery(".login-set").fadeOut("fast", "linear");
        });
        jQuery('.carousel').carousel({
            interval: 7000
        })
    });
</script>
{% endblock %}