body
{
	margin: 0;
	padding: 0;
	background-color: #FFF;
	font-family: verdana, arial, helvetica, sans-serif;
	background-image: url(../images/logo_back.gif);
	background-repeat: repeat-x;
}

a:link, a:visited
{
	color: #f60;
	text-decoration: underline;
}

a:hover, a:active
{
	color: #f60;
	text-decoration: none;
}

h1
{
	margin: 0;
	padding: 0;
	height: 80px;
	background-image: url(../images/logo_ssnm.gif);
	background-repeat: no-repeat;
}

h1 a
{
	text-indent: -2000px;
	display: block;
	width: 420px;
	height: 80px;
}

h2
{
	margin: 0px 0px 20px 0px;
	padding: 0;
	color: #f60;
	font-size: 18px;
}

#ccnmtl
{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	right: 10px;
	width: 107px;
	height: 80px;
	background-image: url(../images/logo_ccnmtl.gif);
	background-repeat: no-repeat;
}

#ccnmtl a
{
	text-indent: -2000px;
	display: block;
	width: 107px;
	height: 80px;
}

#toolbar
{
	background-color: #fc6;
	margin: 0;
	padding: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #369;
	border-bottom: 1px solid #f93;
}

#toolbar a:link, #toolbar a:visited
{
	color: #000;
	text-decoration: underline;
}

#toolbar a:hover, #toolbar a:active
{
	color: #000;
	text-decoration: none;
}

#standard { float: right; }
#standard a { padding-left: 10px; }

#breadcrumbbar
{
	background-color: #b8e7ff;
	padding: 5px 0px 5px 10px;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #f93;
	color: #000;
}

#breadcrumbbar a:link, #breadcrumbbar a:visited
{
	color: #f60;
	text-decoration: underline;
}

#breadcrumbbar a:hover, #breadcrumbbar a:active
{
	color: #f60;
	text-decoration: none;
}

#content
{
	padding: 0px;
	margin: 0px;
}

#container
{
	padding: 0px;
	margin: 20px;
}

#text { margin-right: 35%; }

colgroup#coursetablecols col.name { width: 20%; }
colgroup#coursetablecols col.description { width: 20%; }
colgroup#coursetablecols col.instructor { width: 10%; }
colgroup#coursetablecols col.functions { width: 50%; }

colgroup#studenttablecols col.first { width: 30%; }
colgroup#studenttablecols col.last { width: 30%; }
colgroup#studenttablecols col.uni { width: 30%; }
colgroup#studenttablecols col.delete { width: 10%; }

colgroup#alluserstablecols col.first { width: 15%; }
colgroup#alluserstablecols col.last { width: 15%; }
colgroup#alluserstablecols col.id { width: 15%; }
colgroup#alluserstablecols col.account { width: 15%; }
colgroup#alluserstablecols col.security { width: 15%; }
colgroup#alluserstablecols col.delete { width: 20%; }

colgroup#maptablecols col.name { width: 20%; }
colgroup#maptablecols col.description { width: 30%; }
colgroup#maptablecols col.created { width: 20%; }
colgroup#maptablecols col.modified { width: 20%; }
colgroup#maptablecols col.delete { width: 10%; }

colgroup#allmaptablecols col.name { width: 20%; }
colgroup#allmaptablecols col.description { width: 20%; }
colgroup#allmaptablecols col.owner { width: 10%; }
colgroup#allmaptablecols col.created { width: 20%; }
colgroup#allmaptablecols col.modified { width: 20%; }
colgroup#allmaptablecols col.delete { width: 10%; }

table.infotable
{
	margin-bottom: 20px;
	width: 100%;
}

table.infotable th
{
	text-align: left;
	background-color: #fc6;
	color: #000;
	font-size: 12px;
	padding: 5px;
	margin: 0;
}

table.infotable th.centered { text-align: center; }

table.infotable td
{
	background-color: #fff;
	color: #000;
	font-size: 11px;
	padding: 5px;
	margin: 0;
	vertical-align: top;
	border-bottom: 1px solid #fc6;
}

table.infotable td.centered { text-align: center; }

.addbar
{
	float: right;
	padding: 0px 0px 10px 0px;
	font-size: 12px;
	color: #348eae;
}

.deletebar
{
	text-align: right;
	padding: 10px 0px 0px 0px;
	font-size: 12px;
	color: #348eae;
}

.toggle { border: 0; }

p
{
	font-size: 12px;
	line-height: 18px;
	color: #000;
}

.message
{
	font-size: 12px;
	color: #000;
	background-color: #ffc;
	padding: 10px;
	border-bottom: 1px solid #f90;
}

fieldset
{
	border: 1px solid #f93;
	margin: 0;
	padding: 10px;
	width: 400px;
}

legend
{
	border: 1px solid #f93;
	margin-bottom: 10px;
	padding: 5px;
	font-size: 12px;
	background-color: #fc6;
	color: #000;
	font-weight: bold;
}

label
{
	padding: 5px;
	font-size: 12px;
	color: #000;
	text-align: right;
	width: 120px;
	display: block;
	float: left;
}

textarea
{
	height: 100px;
	width: 200px;
}

#log, .here { color: #000; }

.small_message
{
    font-size: 10px;
    color: #666;
}