
<html>
<head>
    <title>{%block title %}Testing Templates{% endblock %}</title>



    <link rel="stylesheet" href="site_media/ecomap.css"/>


<link rel="shortcut icon" href="/site_media/favicon.ico" type="image/x-icon" />
{% block css %}{% endblock %}

</head>


<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Interface</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="ccnmtl_pic">
        {% block ccnmtl %}
            <img src="/site_media/logo_ccnmtl.gif" alt="SSNM Logo" />
            <img src="/site_media/logo_ccnmtl.gif" alt="SSNM Logo" />

        {% endblock %}
    </div>

    <div id="ssnm_pic">
        {% block ssnm %}{% endblock %}
    </div>

</body>
</html>
