body, legend{
    font-family:tahoma,arial;
}

h1{
    font-size:1.3em;
    margin-bottom:.25em;
    margin-top:0.5em;
}

td,th{
    font-size:.85em;
    padding-left:5px;
    padding-right:5px;
}

#logout{
    font-size:.85em;
    position:absolute;
    top:10px;
    right:30px;
}

p.message { 
            background-color: #ff0;
            border: #ccc solid 1px;
 }
