{% extends "ecobase.html" %}
{% block content %}

		<div id="ccnmtl">
		<a href="http://ccnmtl.columbia.edu/" target="_blank" title="Go to the CCNMTL web site.">CCNMTL</a>
		</div>

		<div id="toolbar">
		
			<div id="standard">
				<a href="/ecomap/about">About</a>
				<a href="/ecomap/help">Help</a>
				
					<a href="/ecomap/contact">Feedback</a>
				
			</div>
			
			<div id="log">
				
				Logged in as <span>CCNMTL CCNMTL</span> | <a href="/ecomap/logout">Logout</a>
				
				
			</div>
			
		</div>
		
		<div id="content">
	
		<div id="breadcrumbbar">
		<span class="here">You are Here:</span>  
			<a href="/ecomap/course/">
				My Courses
			</a>
			&gt; 
			Edit Course
		</div>
		
		
			
		
		
		<div id="container">
		
			<h2>
				Edit Course
			</h2>
			
			<form action="edit" method="post">
			
			<fieldset>
			
			<legend>
			Course Information
			</legend>
			
			<label for="name">Name:</label><input type="text" id="name" name="name" value="{{course.name}}" />
			
			<br />
			<br />
			<label for="desc">Description:</label><textarea type="text" id="desc" name="description">{{course.description}}</textarea>
			
			<br />
			<br />
			
			    <label for="instid">Instructor ID:</label> 
			    <select id="instid" name="instructor">
			    
			    <option value="131"> {{instructor.firstname}} {{instructor.lastname}}</option>


			    </select>
			    <br />
			    <br />
			
			
			<label for="savebutton"></label>
			<input type="submit" id="savebutton" value="Update Course Information" />
			
			</fieldset>
			
			</form>
		
		</div>
	
	</div>
{% endblock %}