
{% extends "ecobase.html" %}
{% block content %}
        <div id="breadcrumbbar">
        <span class="here">You are Here:</span>
        &gt;  Login   </div>
        <div id="container">
           <h2>   Guest Login   </h2>
            
            <form action="/ecomap/login/" method="post"> {% csrf_token %}
            
                <fieldset>
                 {{ form.non_field_errors }}
        
                    <legend>    Account Information    </legend>
                        <div class="fieldWrapper">    {{ form.username.errors }}
                        <label for="username">    User Name:</label>    <!--<input id="username" type="text" name="unse" /> -->
                    {{ form.username }} </div>
                    <br />  <br />

                    <div class="fieldWrapper">  {{ form.password.errors }}
                    <label for="pass">  Password:</label>  {{ form.password }}
                    <!--<input id="pass" type="password" name="password" />-->
                    </div>
                    
                    <br />    <br />
                    <label for="login">
                    </label>
                    <input id="login" type="submit" value="Log In" />
                    
                </fieldset>
                
            </form>
            
        </div>
        
    </div>
{% endblock %}
