{% extends "ecobase.html" %}
{% load i18n %}
{% block stylesheet %}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="content-main">
<form method="get" action="https://wind.columbia.edu/login">
<input type="hidden" name="service" value="cnmtl_full_np" />
<input type="hidden" name="destination" value="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/accounts/windlogin/?next=/admin/&this_is_the_login_form=1" />
<p>To access the admin pages of this site, click <input type="submit" value="here" />.</p>
</form>
<p>Or you can log in or register for the training portion of the site using the links on the top right. </p>
</div>
{% endblock %}



