body
{
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: arial, helvetica, sans-serif;
}

a { color: #f90; }

h1
{
	margin: 0;
	padding: 0;
	background-color: #348eae;
	height: 90px;
	background-image: url(../images/logo_ssnm.gif);
	background-repeat: no-repeat;
}

h1 a
{
	text-indent: -2000px;
	display: block;
	width: 650px;
	height: 90px;
}

h2
{
	margin-bottom: 20px;
	padding: 0;
	color: #348eae;
	font-size: 18px;
}

#ccnmtl
{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 105px;
	height: 23px;
	background-image: url(../images/logo_ccnmtl.gif);
	background-repeat: no-repeat;
}

#ccnmtl a
{
	text-indent: -2000px;
	display: block;
	width: 105px;
	height: 23px;
}

#toolbar
{
	background-color: #bddfde;
	padding: 0px 10px 10px 10px;
	font-size: 12px;
	font-weight: bold;
	color: #348eae;
}

#toolbar a { color: #348eae; }
#standard { float: right; }
#standard a { padding-left: 10px; }

#breadcrumbbar
{
	background-color: #eee;
	padding: 10px;
	font-size: 12px;
	font-weight: bold;
}

#breadcrumbbar a { color: #f90; }

#content
{
	padding: 0px;
	margin: 0px;
}

#container
{
	padding: 20px;
	margin: 0px;
}

colgroup#coursetablecols col.name { width: 20%; }
colgroup#coursetablecols col.description { width: 20%; }
colgroup#coursetablecols col.instructor { width: 20%; }
colgroup#coursetablecols col.functions { width: 40%; }
colgroup#studenttablecols col.first { width: 30%; }
colgroup#studenttablecols col.last { width: 30%; }
colgroup#studenttablecols col.uni { width: 30%; }
colgroup#studenttablecols col.delete { width: 10%; }
colgroup#alluserstablecols col.first { width: 20%; }
colgroup#alluserstablecols col.last { width: 20%; }
colgroup#alluserstablecols col.id { width: 20%; }
colgroup#alluserstablecols col.account { width: 20%; }
colgroup#alluserstablecols col.security { width: 10%; }
colgroup#alluserstablecols col.delete { width: 10%; }
colgroup#maptablecols col.name { width: 20%; }
colgroup#maptablecols col.description { width: 40%; }
colgroup#maptablecols col.created { width: 15%; }
colgroup#maptablecols col.modified { width: 15%; }
colgroup#maptablecols col.delete { width: 10%; }
colgroup#allmaptablecols col.name { width: 20%; }
colgroup#allmaptablecols col.description { width: 30%; }
colgroup#allmaptablecols col.owner { width: 20%; }
colgroup#allmaptablecols col.created { width: 10%; }
colgroup#allmaptablecols col.modified { width: 10%; }
colgroup#allmaptablecols col.delete { width: 10%; }

table.infotable
{
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}

table.infotable th
{
	text-align: left;
	background-color: #bddfde;
	color: #348eae;
	font-size: 12px;
	padding: 5px;
	margin: 0;
}

table.infotable td
{
	background-color: #fff;
	color: #000;
	font-size: 12px;
	padding: 10px 5px 10px 5px;
	margin: 0;
	vertical-align: top;
	border-bottom: 1px solid #bddfde;
}

.addbar
{
	float: right;
	padding: 10px 10px 0px 0px;
}

.deletebar
{
	text-align: right;
	padding: 10px 10px 0px 0px;
}

.toggle { border: 0:; }

p
{
	font-size: 12px;
	color: #000;
}

.message
{
	font-size: 12px;
	color: #fff;
	background-color: #f03;
	padding: 10px;
}

fieldset
{
	border: 1px solid #348eae;
	margin: 0;
	padding: 10px;
	width: 400px;
}

legend
{
	border: 1px solid #348eae;
	margin: 0;
	padding: 5px;
	font-size: 12px;
	background-color: #bddfde;
	color: #348eae;
}

label
{
	margin: 0;
	padding: 5px;
	font-size: 12px;
	color: #000;
	text-align: right;
	width: 120px;
	display: block;
	float: left;
}
