{% extends "ecobase.html" %}
{% block content %}


<div id="breadcrumbbar">	<span class="here">You are Here:</span> Courses </div>

<div id="container">
	<div class="addbar">
		<form action="/create_course_form" style="display: inline;" method="link">
			<input type="submit" value="Create Course" />
		</form>
		<form action="/admin_users_form" style="display: inline;" method="link">
			<input type="submit" value="Manage Users" />
		</form>
	</div>
		
	<h2>	My Courses	</h2>

		<table cellspacing="0" class="infotable" summary="Network Map Table">
			<colgroup span="4" id="coursetablecols">
				<col class="name" />
				<col class="description" />
				<col class="instructor" />
				<col class="functions" />
			</colgroup>
					
			<thead>
						<tr>
							<th>	Name	</th>	<th>	Description		</th>	<th>	Instructor	</th>
							<th class="centered">	Functions	</th>
						</tr>
			</thead>
			
			<tbody>
			{% for student in student_list %}
				    <tr><td>{{ student.first_name }}</td><td>{{ student.last_name }}</td><td>{{ student.uni }}</td><td class="centered"><a href="/course/3/">View Maps</a></td></tr>
			{% endfor %}
			</tbody>

			</table>			






{% endblock %}