{% extends "ecobase.html" %}
{% block content %}



		<div id="breadcrumbbar">
		<span class="here">You are Here:</span>
		&gt;
		Login
		</div>
		
		<div id="container">
		<table cellspacing="0" class="infotable" summary="Network Map Table">
		<tr><td><h2>  Columbia Login  </h2>

			    <form  action="https://wind.columbia.edu/login" method="post">
			    <input type="hidden" name="service" value="cnmtl_full_np" />
                <input type="hidden" name="destination" value="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/accounts/windlogin/?next=/admin/&this_is_the_login_form=1" />
				    <fieldset>
					<legend>Account Information	</legend>
					<label for="username">User Name:</label>
					<input id="username" type="text" name="uni" />
					<br /><br />
					<label for="pass">	Password:</label>  <input id="pass" type="password" name="password" />
					<br />	<br />
					<label for="login">	</label>
					<p>If you have a Columbia UNI, you already have an account and can login through WIND with it</p>
                    <input type="submit" value="Here" />				
				    </fieldset>
				</form>
            </td>
            <td>
            <h2>Not a Columbia User? Login as a Guest.</h2>
            <form  action="/ecomap/show_maps" method="post">
			    <fieldset>
			        <legend>Guest Account Information</legend>
					<label for="username">User Name:</label>
					<input id="guest_username" type="text" name="guest_uni" />
					<br /><br />
					<label for="pass">Password:</label>
					<input id="guest_pass" type="password" name="guest_password" />
					<br /><br />
					<label for="login"></label>
					<input id="login" type="submit" value="Log In" />
				</fieldset>
			</form>
			</td>
			</tr>				
			</table>	
					
			<br><br>
	<h2>Don't have and account? </h2> <a href="/ecomap/create_account/">Click here to create one. </a>
		</div>
		
	</div>
{% endblock %}
